/*
 * 画面全体に関する設定
 */

 body {
    font: 14px, "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.room-thread {
    overflow: auto;
    width: 100%;
    height: 215px;
    border:1px solid #808080;
}

.room-message_textarea {
    width: 100%;
    height: 120px;
}
.memo-thread {
    overflow: auto;
    width: 100%;
    height: 150px;
    border:1px solid #808080;
}

.room-info {
    overflow: auto;
    width: 100%;
    height: 125px;
    border:1px solid #808080;
}

.in-name {
    overflow: auto;
    width: 100%;
    height: 125px;
    border:1px solid #808080;
}
/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */

 .title{
    text-align: left;
    float: left;
 }

.room-login_user {
    text-align: right;
}

.room-thread, .memo-thread {
    white-space: pre-wrap; /* チャット，メモの改行を正しく表示 */
}


.room-message {

}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-exit {

}

.room-exit_button {

}
.row {
    margin: 20px;
}
/*スマホ*/
@media screen and (max-width: 1000px) {
    .row {
        font-size: 24px;
        line-height: 1.3;
    }
    .memo-thread {
        height: 150px;
    }
    .room-thread {
        height: 400px;
    }
    .room-info {
        height: 170px;
    }
    .in-name {
        height: 170px;
    }
}


/* 右クリックメニュー */
.contextmenu {
    display: none;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 25px;
    border: 1px solid #000;
    background-color: #fff;
}

.contextmenu p{
    cursor: pointer;
}