/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 20px;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {
    text-align:right;
 }

.room-message {

}

.room-message_textarea {
    width: 400px;
    height: 120px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {
    overflow: scroll;
    width: 400px;
    height: 225px;
}

.memo-thread {
    overflow: scroll;
    width: 400px;
    height: 150px;
}

.room-info {
    overflow: scroll;
    width: 235px;
    height: 140px;
}

.in-name {
    overflow: scroll;
    width: 140px;
    height: 140px;
}



.room-exit {

}

.room-exit_button {

}

/* 右クリックメニュー */
.contextmenu {
    display: none;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 200;
    height: 100px;
    border: 1px solid #000;
    background-color: #fff;
}

.contextmenu li{
    cursor: pointer;
}