<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <h1 class="new-title text-success">新規登録</h1>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{!-- <form method="post" action="/room"> --}}
                <div class="form-box">
                    <div class="col-lg-6">
                        <input type="text" placeholder="username" id="createUserName" name="createUserName">
                    </div>
                    <div class="col-lg-6">
                            <input type="password" placeholder="password" id="createUserPassword" name="createUserPassword">
                    </div>
                    <div class="col-lg-6">
                        <input type="password" placeholder="確認" id="createUserPassword2" name="createUserPassword2">
                    </div>
                    
                </div>
            </div>
        </div>

    <div class="row">
        
        <div class="col-lg-3" >
        <input class="btn btn-info btn-block login" type="button" value="登録" onclick="createUser()">
        </div>
        {{!-- <input type="button" value="登録" onclick="testCreateUser()"> --}}
        
        <div class="col-lg-3">
        <input class="btn btn-info btn-block login" type="button" value="戻る" onclick="exitSignUp()">
        </div>
    </div>

</div>



    {{!-- <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div> --}}


    

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/sign_up.js"></script>
{{!-- <script src="/javascripts/testsqlite.js"></script> --}}